* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #363d4e;
}

.home-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}