* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    /* color: #fff; */
}

.contact-container {
    width: 100%;
}

.cont-content {
    margin-top: 4%;
    margin-bottom: 5%;
}

body {
    background: #363d4e;
}

.cont-header {
    width: 100%;
    max-width: 1500px;
    padding: 3rem 2rem;
    background-color: #222222;
    border-radius: 20px;
    border: 1px solid #555555;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-header-right {
    display: block;
    width: 100%;
    max-width: 444px;
    min-height: 577px;
    border-radius: 20px;
    background: rgba(55, 55, 55, 0.8);
    padding: 3rem 2rem;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-header-right input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding-left: 1rem;
    margin-top: 1rem;
    color: #4e4d4d;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-header-left {
    width: 100%;
    max-width: 600px;
}

.cont-header-left h1 {
    font-size: 40px;
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-bottom: 2rem;
}

.cont-header-left h4 {
    color: #3fb3ff;
    font-size: 40px;
    line-height: 50px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.cont-header-left .cont-header-left-h06 {
    color: #3fb3ff;
    font-size: 22px;
    line-height: 50px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.header-left-h3 {
    text-align: center;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
    color: #3fb3ff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.cont-header-right button {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #3fb3ff;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #3fb3ff;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s ease;
}

.cont-header-right button:hover {
    background: #3fb3ff;
    color: white;
    -webkit-box-shadow:0px 0px 150px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
}

.cont-header-right-p {
    /* color: #fff; */
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin-top: 2rem;
}

.cont-header-right-p span {
    color: #3fb3ff;
    font-size: 25px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 600;
}

.cycle {
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px dashed #3fb3ff;
    border-radius: 50%;
    display: block;
    padding: 2.5rem 2rem;
    text-align: center;
    transform: rotate(-6deg);
    margin-top: 2rem;
}

.cycle h3 {
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-bottom: 0.5rem;
}

.cycle p span {
    font-size: 30px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #3fb3ff;
}

.cycle p {
    /* color: #fff; */
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-top: 0.5rem;
    font-weight: 600;
}

.kto-mi-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 1rem 2rem;
    background: #222222;
    margin: auto;
    border-radius: 20px;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    border: 1px solid #555555;
}

.kto-mi-box2 {
    display: none;
}

/* mi-left p */
.kto-mi-left {
    width: 100%;
    max-width: 760px;
}

.kto-mi-left h1 {
    color: #3fb3ff;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-bottom: 2rem;
}

.kto-mi-left p {
    /* color: #fff; */
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}

.cont-med-big {
    width: 100%;
    max-width: 1500px;
    padding: 2rem 2rem;
    background-color: #222222;
    border: 1px solid #555555;
    border-radius: 20px;
    margin-top: 4% !important;
    margin: auto;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-main-med {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #363d4e;
    border: 1px solid #555555;
    border-radius: 20px;
    padding: 1rem;
    transition: all 0.5s ease;
    color: #fff;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-main-med:hover {
    background: #222222;
}

.cont-med-left {
    position: relative;
}

.cont-med-big .cont-med-big-h01 {
    color: #3fb3ff;
    font-size: 40px;
    font-weight: 400;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-bottom: 2rem;
}

.cont-med-big .cont-med-big-h02 {
    color: #3fb3ff;
    font-size: 40px;
    font-weight: 400;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.strelka::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.35);
    background-color: #165AB7;
}

.cont-med-right p {
    width: 100%;
    max-width: 815px;
    font-size: 24px;
    font-weight: 400;
    line-height: 39.96px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}

.cont-main-end {
    display: flex;
    justify-content: center;
}

.cont-main-end-cards4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 151px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #3fb3ff;
    background-color: #363d4e;
    border-radius: 50%;
    transition: .2s linear;
    margin: 2rem;
}

.cont-main-end-cards3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 151px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #3fb3ff;
    background-color: #363d4e;
    border-radius: 50%;
    transition: .2s linear;
    margin: 2rem;
}
.cont-main-end-cards2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 151px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #3fb3ff;
    background-color: #363d4e;
    border-radius: 50%;
    transition: .2s linear;
    margin: 2rem;
}
.cont-main-end-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 151px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #3fb3ff;
    background-color: #363d4e;
    border-radius: 50%;
    transition: .2s linear;
    margin: 2rem;
}

.cont-main-end-cards,
.cont-main-end-cards2,
.cont-main-end-cards3,
.cont-main-end-cards4, img {
    filter: brightness(89%) saturate(155%);
    opacity: 0.5;
}

.cont-main-end-cards4:hover {
    -webkit-box-shadow:0px 0px 100px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
}

.cont-main-end-cards3:hover {
    -webkit-box-shadow:0px 0px 100px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
}
.cont-main-end-cards2:hover {
    -webkit-box-shadow:0px 0px 100px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
}
.cont-main-end-cards:hover {
    -webkit-box-shadow:0px 0px 100px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 100px 24px rgba(63,178,255,0.9);
}

.cont-main-footer {
    width: 100%;
    padding: 3rem 0;
    background: #165AB7;
    transition: all .4s ease;
    margin-top: 6%;
}

.cont-main-footer:hover {
    background: #3fb3ff;
}

.cont-main-footer h1 {
    color: #ffffff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.cont-end {
    width: 100%;
    min-height: 90vh;
    background: url(../img/need-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

.cont-end-box {
    width: 100%;
    max-width: 1500px;
    min-height: 496px;
    background: rgba(55, 55, 55, 0.8);
    border: 1px solid #555555;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 1rem;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-need-item {
    display: flex;
    align-items: center;
}

.cont-need-item-number {
    border-right: 4px solid #ff9600;
    width: 40px;
    height: 47px;
    margin: 1rem;
}

.cont-need-item-number p {
    color: #ffffff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
}

.cont-need-item-text {
    display: flex;
    justify-content: flex-end;
}

.cont-need-item-text p {
    width: 100%;
    max-width: 671px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}

.cont-end-h01 {
    padding-top: 3rem;
    padding-bottom: 4rem;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    text-align: center;
}

.cont-input-section {
    width: 100%;
    max-width: 1500px;
    background: #222222;
    border: 1px solid #555555;
    border-radius: 20px;
    padding: 2rem 3rem;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    margin: auto;
    margin-bottom: 5%;
}

.cont-input-sect-h01 h1 {
    color: #3fb3ff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.cont-input-sect-h01 p {
    /* color: #fff; */
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 3rem;
}

.cont-input-sect-h01 p span:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.cont-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-inputs-left,
.cont-inputs-right {
    width: 100%;
    max-width: 500px;
    display: block;
}

.cont-inputs-left input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 1rem;
    margin-top: 1rem;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-inputs-right input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 1rem;
    margin-top: 1rem;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.cont-inputs-left button {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #3fb3ff;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #3fb3ff;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s ease;
}

.cont-inputs-left button:hover {
    background: #3fb3ff;
    color: white;
    -webkit-box-shadow:0px 0px 150px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
}

.cont-inputs-right button {
    width: 100%;
    height: 50px;
    background: transparent;
    color: #3fb3ff;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #3fb3ff;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s ease;
}

.cont-inputs-right button:hover {
    background: #3fb3ff;
    color: white;
    -webkit-box-shadow:0px 0px 150px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
}

.cont-input-box2 {
    display: none;
}

/* .footer {
    width: 100%;
    border-top: 1px solid #555555;
    padding: 2rem 2rem;
    background: #222222;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    border-bottom: 1px solid #555555;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
}

.footer-top-links p a {
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
    transition: all .5s ease;
}

.footer-top-links p a:hover {
    color: #3fb3ff;
}

.footer-top-avto-l {
    margin-top: 1rem;
}

.footer-top-links2 p {
    margin-bottom: 1rem;
}

.footer-top-links2 p a {
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.footer-top-links2 p a:hover {
    text-decoration: underline;
}

.footer-top-links2 .footer-btn {
    width: 100%;
    max-width: 250px;
    padding: 0 3rem;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #3fb3ff;
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    transition: all .4s ease;
}

.footer-top-links2 .footer-btn:hover {
    background: #3fb3ff;
    -webkit-box-shadow:0px 0px 150px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
}

.footer-top-links3 p {
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    color: #4e4d4d;
}

.footer-top-l3-p {
    margin-bottom: 1rem;
}

.footer-top-links4 {
    display: flex;
}

.icons-cards {
    width: 66px;
    height: 65px;
    background: url(../img/vk-icon-grey.png);
    margin-right: 34px;
    cursor: pointer;
}

.icons-cards2 {
    width: 66px;
    height: 65px;
    background: url(../img/ok-icon-grey.png);
    cursor: pointer;
}

.footer-med {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    border-bottom: 1px solid #555555;
    padding-top: 2rem;
}

.footer-med p {
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-end {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-top: 2rem;
}

.footer-end p {
    color: #fff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
} */


















/* media css */
@media (max-width:1100px) {
}

@media (max-width:1020px) {
}

@media (max-width:900px) {
    .cont-header {
        display: block;
    }

    .cont-main-end-cards4 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        height: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }
    
    .cont-main-end-cards3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        height: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }
    .cont-main-end-cards2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        height: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }
    .cont-main-end-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        height: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }

    .cont-med-big .cont-med-big-h02 {
        color: #3fb3ff;
        font-size: 35px;
    }

    .cont-med-right p {
        width: 100%;
        max-width: 815px;
        font-size: 20px;
        font-weight: 400;
        line-height: 39.96px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    }

    .cont-main-footer h1 {
        color: #ffffff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }

    .cont-end-h01 {
        padding-top: 3rem;
        padding-bottom: 4rem;
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        text-align: center;
    }

    .cont-input-sect-h01 h1 {
        color: #3fb3ff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-weight: 700;
    }

    .cont-header-left {
        margin: auto;
        text-align: center;
    }

    .cycle {
        margin-bottom: 4rem;
    }

    .cont-header-right {
        margin: auto;
    }

    .kto-mi-box {
        display: none;
    }

    .kto-mi-box2 {
        display: block;
        width: 100%;
        max-width: 1500px;
        padding: 1rem 2rem;
        background: #222222;
        margin: auto;
        border-radius: 20px;
        text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        border: 1px solid #555555;
    }

    .cont-main-med {
        display: block;
    }

    .cont-med-left {
        width: 330px;
        margin-bottom: 2rem;
    }

    .strelka::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        height: 100%;
        box-shadow: -3px 0 8px rgba(0, 0, 0, 0.35);
        background-color: #165AB7;
    }
}
@media (max-width:850px) {
}

@media (max-width:600px) {
    .cont-input-box {
        display: none;
    }

    .cont-main-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cont-med-big .cont-med-big-h02 {
        color: #3fb3ff;
        font-size: 30px;
    }

    .cont-header-left h1 {
        font-size: 30px;
        color: #fff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 2rem;
    }

    .cont-header-left h4 {
        color: #3fb3ff;
        font-size: 28px;
        line-height: 50px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 400;
    }

    
    .cont-header-left .cont-header-left-h06 {
        color: #3fb3ff;
        font-size: 18px;
        line-height: 50px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 400;
    }

    .cont-input-box2 {
        display: block;
    }
    .cont-main-end-cards4 img {
        width: 30px;
    }

    .cont-main-end-cards3 img {
        width: 30px;
    }
    .cont-main-end-cards2 img {
        width: 30px;
    }
    .cont-main-end-cards img {
        width: 30px;
    }

    .cont-main-end-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        height: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }

    .cont-main-footer h1 {
        color: #ffffff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }

    .cont-end-h01 {
        padding-top: 3rem;
        padding-bottom: 4rem;
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        text-align: center;
    }

    .cont-need-item-text p {
        width: 100%;
        max-width: 671px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        line-height: 30px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    }

    .cont-input-sect-h01 h1 {
        color: #3fb3ff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 35px;
        font-weight: 700;
    }

    .cont-input-sect-h01 p {
        color: #fff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 3rem;
    }

    .cont-med-big .cont-med-big-h01 {
        color: #3fb3ff;
        font-size: 30px;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 2rem;
    }

    .kto-mi-left h1 {
        color: #3fb3ff;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 2rem;
    }

    .kto-mi-left p {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    }
}

@media (max-width:420px) {
    .cont-need-item-text p {
        width: 100%;
        max-width: 671px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        line-height: 30px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    }

    .con_header_left h1 {
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .con_header_left p {
        width: 95%;
        color: #a2a2a2;
        line-height: 1.26;
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .con_header_left ul li {
        color: #a2a2a2;
        line-height: 1.26;
        margin-bottom: 0.5rem;
        font-size: 12px;
    }

    .cont-input-sect-h01 h1 {
        color: #3fb3ff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 28px;
        font-weight: 700;
    }

    .con_header {
        width: 100%;
        max-width: 1500px;
        border: 1px solid #555555;
        border-radius: 20px;
        display: block;
        align-items: center;
        margin: auto;
        background: #222222;
        padding: 0 0 0 2rem;
        margin-top: 5%;
        margin-bottom: 5%;
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 1rem;
    }

    .con_main_bigtop {
        width: 100%;
        max-width: 1500px;
        padding: 2rem 1rem;
        border: 1px solid #555555;
        border-radius: 20px;
        background: #222222;
        margin: auto;
        display: block;
    }

    .con_min_text {
        padding: 0.5rem;
    }

    .con_min_text ul li {
        color: #a2a2a2;
        line-height: 1.60;
        font-size: 13px;
        margin-bottom: 0.5rem;
    }

    .cont-input-sect-h01 p {
        color: #fff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 3rem;
    }

    .cont-main-footer h1 {
        color: #ffffff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .cont-main-end-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border: 2px solid #3fb3ff;
        background-color: #363d4e;
        border-radius: 50%;
        transition: .2s linear;
        margin: 2rem;
    }

    .cont-main-end-cards, .cont-main-end-cards2, .cont-main-end-cards3, .cont-main-end-cards4, img {
        width: 100%;
        filter: brightness(89%) saturate(155%);
        opacity: 0.5;
    }
    
    .cont-med-left {
        max-width: 330px;
        margin-bottom: 2rem;
        width: 100%;
    }

    .cont-med-right p {
        width: 100%;
        max-width: 815px;
        font-size: 14px;
        font-weight: 400;
        line-height: 39.96px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    }

    .footer-end p {
        color: #fff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .cont-input-section {
        width: 100%;
        max-width: 1500px;
        background: #222222;
        border: 1px solid #555555;
        border-radius: 20px;
        padding: 2rem 1rem;
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        margin: auto;
        margin-bottom: 5%;
    }

    .cont-header-right-p {
        color: #fff;
        font-size: 12px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 600;
        margin-top: 2rem;
        text-align: center;
    }

    .cont-header-right {
        display: block;
        width: 100%;
        max-width: 1500px;
        min-height: 577px;
        border-radius: 20px;
        background: rgba(55, 55, 55, 0.8);
        padding: 1rem;
        text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .cont-header {
        width: 100%;
        max-width: 1500px;
        padding: 3rem 0;
        background-color: #222222;
        border-radius: 20px;
        border: 1px solid #555555;
        margin: auto;
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .cont-header-left h1 {
        font-size: 25px;
        color: #fff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 0.5rem;
    }

    .cont-header-left h4 {
        color: #3fb3ff;
        font-size: 20px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 400;
    }

    .cont-main-end {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cont-header-left .cont-header-left-h06 {
        color: #3fb3ff;
        font-size: 12px;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 400;
    }

    .cycle {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .cont-med-big {
        width: 100%;
        max-width: 1500px;
        padding: 2rem 0;
        background-color: #222222;
        border: 1px solid #555555;
        border-radius: 20px;
        margin-top: 4% !important;
        margin: auto;
        text-shadow: -1px 0 2px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    }

    .cont-med-big .cont-med-big-h01 {
        color: #3fb3ff;
        font-size: 25px;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 2rem;
        text-align: center;
    }

    .cont-med-big .cont-med-big-h02 {
        color: #3fb3ff;
        font-size: 24px;
        text-align: center;
    }
}