* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dsago_container {
    width: 100%;
}

.dsago_header {
    width: 100%;
    max-width: 1500px;
    padding: 3rem 2rem;
    background: #222222;
    border-radius: 20px;
    border: 1px solid #555555;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #a2a2a2;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.dsago_header ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.dsago_header ul li {
    line-height: 1.4;
}

.dsago_header h1 {
    color: #3fb3ff;
    margin-bottom: 1rem;
}

.dsago_head_p,.dsago_p2 {
    margin-bottom: 1rem;
    line-height: 1.2;
}

.dsago_head_p a {
    color: #3fb3ff;
}

.dsago_p2 a {
    color: #3fb3ff;
}

.dsago_head_p3 a {
    color: #3fb3ff;
}

.dsago_head_p a:hover {
    text-decoration: underline;
}

.dsago_p2 a:hover {
    text-decoration: underline;
}
.dsago_head_p3 a:hover {
    text-decoration: underline;
}


@media (max-width:420px) {
    .dsago_header h1 {
        color: #3fb3ff;
        margin-bottom: 1rem;
        font-size: 25px;
    }
}