.footer {
    width: 100%;
    border-top: 1px solid #555555;
    padding: 2rem 2rem;
    background: #222222;
    border-radius: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    border-bottom: 1px solid #a2a2a2;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
}

.footer-top-links p a {
    color: #a2a2a2;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
    transition: all .5s ease;
}

.footer-top-links p a:hover {
    color: #3fb3ff;
}

.footer-top-avto-l {
    margin-top: 1rem;
}

.footer-top-links2 p {
    margin-bottom: 1rem;
}

.footer-top-links2 p a {
    color: #a2a2a2;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.footer-top-links2 p a:hover {
    text-decoration: underline;
}

.footer-top-links2 .footer-btn {
    width: 100%;
    max-width: 250px;
    padding: 0 3rem;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #3fb3ff;
    color: #3fb3ff;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    transition: all .4s ease;
}

.footer-top-links2 .footer-btn:hover {
    background: #3fb3ff;
    color: #fff;
    -webkit-box-shadow:0px 0px 150px 24px rgba(63,178,255,0.9);
    -moz-box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
    box-shadow: 0px 0px 150px 24px rgba(63,178,255,0.9);
}

.footer-top-links3 p {
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    color: #4e4d4d;
}

.footer-top-l3-p {
    margin-bottom: 1rem;
}

.footer-top-links4 {
    display: flex;
}

.icons-cards {
    width: 66px;
    height: 65px;
    background: url(../img/vk-icon-grey.png);
    margin-right: 34px;
    cursor: pointer;
}

.icons-cards2 {
    width: 66px;
    height: 65px;
    background: url(../img/ok-icon-grey.png);
    cursor: pointer;
}

.footer-med {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    border-bottom: 1px solid #a2a2a2;
    padding-top: 2rem;
}

.footer-med p {
    color: #a2a2a2;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-end {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding-top: 2rem;
}

.footer-end p {
    color: #a2a2a2;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}



@media (max-width:850px) {
    .footer-top {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:420px) {
    .footer-top-links3 p {
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        color: #4e4d4d;
        margin-bottom: 1rem;
    }

    .footer-end p {
        color: #a2a2a2;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .footer-top {
        display: block;
        text-align: center;
        padding-bottom: 2rem;
    }

    .footer-top-links4 {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }

    .footer-top-links2 .footer-btn {
        width: 100%;
        max-width: 250px;
        padding: 0 3rem;
        height: 55px;
        border-radius: 30px;
        border: 1px solid #3fb3ff;
        color: #3fb3ff;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 14px;
        background: transparent;
        cursor: pointer;
        transition: all .4s ease;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .footer-med p {
        color: #a2a2a2;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}