* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.komp_container {
    width: 100%;
}

.komp-header {
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 1rem 2rem;
    background-color: #222222;
    border-radius: 20px;
    border: 1px solid #555555;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.komp-header2 {
    display: none;
    width: 100%;
    max-width: 1500px;
    padding: 1rem 2rem;
    background-color: #222222;
    border-radius: 20px;
    border: 1px solid #555555;
}

.komp-header-left-text h1 {
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #3fb3ff;
}

.komp-header-left-text p {
    line-height: 1.46;
    color: #a2a2a2;
    font-weight: 400;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    margin-bottom: 1rem;
}

.komp-header-left-text p a {
    color: #a2a2a2;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid #a2a2a2;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
    transition: 0.2s ease;
}

.komp-header-left-text p a:hover {
    color: #3fb3ff;
    border-bottom: 1px solid #3fb3ff;
}

.komp-header-left-text ul {
    padding: 1rem;
}

.komp-header-left-text h4 {
    color: #fff;
    font-weight: 600;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}

.komp-header-left-text ul li {
    line-height: 1.46;
    color: #a2a2a2;
    font-weight: 400;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}


.komp_main_med {
    width: 100%;
    max-width: 1500px;
    padding: 3rem 2rem;
    background: #222222;
    border: 1px solid #555555;
    border-radius: 20px;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 5%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.komp_main_h01 h1 {
    text-align: center;
    color: #4e4d4d;
    font-family: Ingo Stem,Helvetica,Arial,sans-serif;
}

.komp_main_box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.komp_main_cards1,
.komp_main_cards2,
.komp_main_cards3 {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    background: #363d4e;
    padding: 1rem 1rem;
    margin: 0.3rem;
    cursor: pointer;
    transition: all .4s ease;
    border: 1px solid #555555;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 5%;
}

.komp_main_cards3:hover {
    border: 1px solid #555555;
    background-color: #222222;
}

.komp_main_cards2:hover {
    border: 1px solid #555555;
    background-color: #222222;
}

.komp_main_cards1:hover {
    border: 1px solid #555555;
    background-color: #222222;
}

.komp_main_cards1 h5 {
    color: #3fb3ff;
    font-size: 25px;
    margin-bottom: 1rem;
}

.komp_main_cards2 h5 {
    color: #3fb3ff;
    font-size: 25px;
    margin-bottom: 1rem;
}
.komp_main_cards3 h5 {
    color: #3fb3ff;
    font-size: 25px;
    margin-bottom: 1rem;
}

.komp_main_cards3 p {
    color: #4e4d4d;
}

.komp_main_cards2 p {
    color: #4e4d4d;
}
.komp_main_cards1 p {
    color: #4e4d4d;
}

.index_header_bottom_cards{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
}
/* .index_header_bottom_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 23%;
    min-height: 100px;
    background-color: #222222;
    border: 1px solid #555555;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 5%;
}
.index_header_bottom_card h2{
    font-weight: 400;
    font-size: 15px;
}
.index_header_bottom_card img{
    width: 70px;
    border-radius: 10px;
    margin-left: 15px;
}
.index_header_card{
    color: white;
    padding: 30px;
}
.index_header_card p{
    margin-top: 15px;
    line-height: 30px;
    font-weight: 600;
}
.index_header_card h2{
    font-size: 30px;
}
.index_header_bottom_card:hover{
    scale: 1.05;
    color: #3fb3ff !important;
}
#index_header_bottom_card{
    color: #3fb3ff;
} */











@media (max-width:900px) {
    .komp-header {
        display: block;
    }

    .komp_main_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .komp_main_cards1, .komp_main_cards2, .komp_main_cards3 {
        display: block;
        width: 100%;
        max-width: 300px;
        border-radius: 20px;
        background: #363d4e;
        padding: 1rem 1rem;
        margin: 0.3rem;
    }
}

@media(max-width:800px){
    .komp_main_box {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .komp_main_cards1 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-bottom: 1rem;
        text-align: center;
    }
    .komp_main_cards2 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-bottom: 1rem;
        text-align: center;
    }
    .komp_main_cards3 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .komp_main_cards1 p {
        color: #ffff;
        text-align: center;
        font-size: 12px;
    }

    .komp_main_cards2 p {
        color: #ffff;
        text-align: center;
        font-size: 12px;
    }

    .komp_main_cards3 p {
        color: #ffff;
        text-align: center;
        font-size: 12px;
    }
}

@media (max-width:600px) {
    .komp_main_box {
        display: block;
    }

    .komp-header-right-img img {
        width: 100%;
    }

    .komp_main_cards1, .komp_main_cards2, .komp_main_cards3 {
        display: block;
        width: 100%;
        max-width: none;
        border-radius: 20px;
        background: #363d4e;
        padding: 1rem 1rem;
        margin: 0.3rem;
    }

    .komp_main_cards1 h5 {
        color: #3fb3ff;
        font-size: 25px;
        margin-bottom: 1rem;
        text-align: left;
    }
    .komp_main_cards2 h5 {
        color: #3fb3ff;
        font-size: 25px;
        margin-bottom: 1rem;
        text-align: left;
    }
    .komp_main_cards3 h5 {
        color: #3fb3ff;
        font-size: 25px;
        margin-bottom: 1rem;
        text-align: left;
    }

    .komp_main_cards1 p {
        color: #ffff;
        text-align: left;
        font-size: 18px;
    }

    .komp_main_cards2 p {
        color: #ffff;
        text-align: left;
        font-size: 18px;
    }

    .komp_main_cards3 p {
        color: #ffff;
        text-align: left;
        font-size: 18px;
    }
}

@media (max-width:420px) {
    .komp_main_cards1, .komp_main_cards2, .komp_main_cards3 {
        display: block;
        width: 100%;
        max-width: none;
        border-radius: 20px;
        background: #363d4e;
        padding: 1rem 1rem;
        margin: auto;
        margin-bottom: 1rem;
    }

    .komp_main_med {
        width: 100%;
        max-width: 1500px;
        padding: 2rem 1rem;
        background: #222222;
        border: 1px solid #555555;
        border-radius: 20px;
        margin: auto;
        margin-top: 5%;
    }

    .komp_main_cards1 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    .komp_main_cards2 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .komp_main_cards3 h5 {
        color: #3fb3ff;
        font-size: 18px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .komp_main_cards1 p {
        color: #ffff;
        text-align: left;
        font-size: 15px;
    }

    .komp_main_cards2 p {
        color: #ffff;
        text-align: left;
        font-size: 15px;
    }

    .komp_main_cards3 p {
        color: #ffff;
        text-align: left;
        font-size: 14px;
    }

    .komp-header-left-text h1 {
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        margin-bottom: 1rem;
        color: #3fb3ff;
    }

    .komp-header {
        padding: 1rem;
    }

    .komp-header-left-text p {
        line-height: 1.46;
        color: #a2a2a2;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        margin-bottom: 1rem;
        font-size: 13px;
    }

    .komp-header-left-text ul li {
        line-height: 1.46;
        color: #a2a2a2;
        font-weight: 400;
        font-family: Ingo Stem,Helvetica,Arial,sans-serif;
        font-size: 13px;
    }
}